*{
    box-sizing: border-box;
}
.column {
float: left;
width: 33.33%;
padding: 25px;
}
.row::after {
    display:flex;
}
img {
    border-radius: 8px;
  }
.header {
    background: rgb(43, 156, 169);
  } 
  body{
    background-color: beige;
  }